.navbar{
    padding: 1rem;
    background-color: rgb(21, 197, 109);
    ul{
   
        display:flex;
        justify-content: space-between;
    }
    a{
        color:white;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 1rem;
    }
    a:hover{
        color:white;
        text-decoration: none;
        border: 1px solid rgb(18, 163, 91);
        border-radius: 5px;
        padding: 1rem;
    }
    
}